## 5. Data Selection and Indexing

- **Selection**: Using `[]`, `.loc`, `.iloc`, `.at`, `.iat`
- **Filtering**: Conditional selection with boolean indexing
- **Setting Values**: Direct assignment and `.loc`, `.iloc`

In [1]:
import pandas as pd
df = pd.read_csv('data_dictionary.csv')
df.describe()

           Table Field                  Description
count         65    60                           65
unique         5    40                           60
top     patients    Id  Foreign key to the Patient.
freq          23     4                            2

In [2]:
table_series = df['Table']
table_series

0     encounters
1     encounters
2     encounters
3     encounters
4     encounters
         ...
60    procedures
61    procedures
62    procedures
63    procedures
64    procedures
Name: Table, Length: 65, dtype: object

In [3]:
table_field_df = df[['Table', 'Field']]
print(table_field_df)

         Table              Field
0   encounters                NaN
1   encounters                 Id
2   encounters              Start
3   encounters               Stop
4   encounters            Patient
..         ...                ...
60  procedures               Code
61  procedures        Description
62  procedures          Base_Cost
63  procedures         ReasonCode
64  procedures  ReasonDescription

[65 rows x 2 columns]

In [12]:
# well loc got the obj link
table_field_df.loc.obj.loc.obj.loc.obj.loc.obj.loc.obj.loc.obj.loc.obj.loc.obj.loc.obj.loc.obj.loc.obj.loc.obj.loc.obj.loc.obj.loc.obj

         Table              Field
0   encounters                NaN
1   encounters                 Id
2   encounters              Start
3   encounters               Stop
4   encounters            Patient
..         ...                ...
60  procedures               Code
61  procedures        Description
62  procedures          Base_Cost
63  procedures         ReasonCode
64  procedures  ReasonDescription

[65 rows x 2 columns]

In [31]:
# loc : subset indexing (row -> index / column -> col_name) 
table_field_df.loc[0, "Table"]

# iloc : index-location this is based on the position
table_field_df.iloc[0, [0, 1]]

Table    encounters
Field           NaN
Name: 0, dtype: object

In [36]:
# Accessing single value in the dataframe 
value = df.at[2, df.columns[-1]]

value_iat = df.iat[2, 2]
print(value)
print(value_iat)

The date and time (iso8601 UTC Date (yyyy-MM-dd'T'HH:mm'Z')) the encounter started
The date and time (iso8601 UTC Date (yyyy-MM-dd'T'HH:mm'Z')) the encounter started

In [44]:
# IMPORTANT using the filter

# 1. change the category so that the data can be compared
cate = pd.CategoricalDtype(df["Table"].unique(), ordered=True)
print(f"cate : {cate.categories}")
df["Table"] = df["Table"].astype(cate)
print(df.describe())

# 2. we use the filter
df[df["Table"] > cate.categories[2]]

cate : Index(['encounters', 'organizations', 'patients', 'payers', 'procedures'], dtype='object')
           Table Field                  Description
count         65    60                           65
unique         5    40                           60
top     patients    Id  Foreign key to the Patient.
freq          23     4                            2

,Table,Field,Description
47,payers,NaN,Insurance payer data.
48,payers,Id,Primary key of the Payer (e.g. Insurance).
49,payers,Name,Name of the Payer.
50,payers,Address,Payer's street address without commas or newli...
51,payers,City,Street address city.
52,payers,State_Headquartered,Street address state abbreviation.
53,payers,Zip,Street address zip or postal code.
54,payers,Phone,Payer's phone number.
55,procedures,NaN,Patient procedure data including surgeries.
56,procedures,Start,The date and time (iso8601 UTC Date (yyyy-MM-d...
57,procedures,Stop,The date and time (iso8601 UTC Date (yyyy-MM-d...
58,procedures,Patient,Foreign key to the Patient.
59,procedures,Encounter,Foreign key to the Encounter where the procedu...
60,procedures,Code,Procedure code from SNOMED-CT
61,procedures,Description,Description of the procedure.
62,procedures,Base_Cost,The line item cost of the procedure.
63,procedures,ReasonCode,Diagnosis code from SNOMED-CT specifying why t...
64,procedures,ReasonDescription,Description of the reason code.

In [45]:
df.loc[df["Table"] > cate.categories[2], "Field"] = "Code"
df

         Table    Field                                        Description
0   encounters      NaN                             Patient encounter data
1   encounters       Id   Primary Key. Unique Identifier of the encounter.
2   encounters    Start  The date and time (iso8601 UTC Date (yyyy-MM-d...
3   encounters     Stop  The date and time (iso8601 UTC Date (yyyy-MM-d...
4   encounters  Patient                        Foreign key to the Patient.
..         ...      ...                                                ...
60  procedures     Code                      Procedure code from SNOMED-CT
61  procedures     Code                      Description of the procedure.
62  procedures     Code               The line item cost of the procedure.
63  procedures     Code  Diagnosis code from SNOMED-CT specifying why t...
64  procedures     Code                    Description of the reason code.

[65 rows x 3 columns]